# Gamini API
GEMINI_API_KEY=AIzaSyCs4lFpxxSOa6_UjRTxGHnSeJafHAKD-IU
Name="Desktop Agent"
Project_Name=projects/593009203486
Project_Num=593009203486
USE_GEMINI=true
#durgesh-k-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
#Nvidia API
NVIDIA_API_KEY=add here key